@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

@layer base {
  input[type='number'].appearance-none::-webkit-inner-spin-button,
  input[type='number'].appearance-none::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'].appearance-none {
    -moz-appearance: textfield;
  }
}

@layer components {
  body {
    @apply text-primary subpixel-antialiased;
  }

  thead {
    @apply uppercase;
  }

  .button {
    @apply inline-block rounded-full bg-primary-700 p-2 leading-normal text-[white] shadow-gray-800 transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-gray-700 
        focus:shadow-gray-900 focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-gray-900;
  }

  .text {
    @apply font-bold p-3 text-sm rounded-[6px] hover:bg-secondary hover:rounded-[28px] duration-200 transition-all;
  }

  .disabled {
    @apply bg-gray-500 text-gray-100 hover:bg-gray-400 active:bg-gray-700;
  }

  .red {
    @apply bg-danger-600 hover:bg-danger-500 active:bg-danger-200;
  }
}
