@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

@layer components {
  body {
    @apply text-primary subpixel-antialiased;
  }

  thead {
    @apply uppercase;
  }

  .button {
    @apply inline-block rounded-full bg-primary p-2 uppercase leading-normal text-[white] shadow-gray-800 transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-gray-700 
        focus:shadow-gray-900 focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-gray-900;
  }

  .disabled {
    @apply bg-gray-500 text-gray-100 hover:bg-gray-400 active:bg-gray-700;
  }

  .red {
    @apply bg-danger-600 hover:bg-danger-500 active:bg-danger-200;
  }
}
